@import "_helpers";

body#employer-vacancies #vacancies-table { position: relative; margin-bottom: 8px;
  th { padding: 3px 10px 3px 0; text-align: left; }
  td { padding: 3px 10px; text-align: left; }
  td.controls { padding-left: 25px; } 
}

body#employer-signup {
  form.new_employer { margin-top: 10px; border-top: 2px solid #666666; padding-top: 10px;
    tr.captcha td img { padding-left: 30px; } 
  } 
}

body#employers-login #emp-idx { width: 100%;
  #casuals, #emp-idx #pro-div { width: 50%; }
  #casuals { font-size: xx-large; line-height: 1.5; border-right: silver 1px solid; }
  #professionals { padding-left: 20px;
    #register-h { margin: 8px 0 0; }
    #or-p { margin: 5px 0; }
    #login-h {margin: 0 0 5px; }
    form { margin-top: 5px; }
    form th { text-align: left; } 
  } 
}
