@import "_helpers"; 

$collapsed-entry-color: #f3f3f3;
$expanded-entry-color: #f3f3ff;

body.public {
  table.vacancies-list { width: 100%; margin: 10px 0; border: 1px solid #cccccc; @include rounded(10px); 
    span.pos { font-weight: bold; }
    span.star { display: block; width: 16px; height: 16px; float: left; padding-right: 5px; background-repeat: no-repeat; cursor: pointer; }
    span.star-disabled { background-image: image-url("star-disabled-16.gif"); }
    span.star-enabled { background-image: image-url("star-enabled-16.png"); }
    td { padding: 5px; border-top: 1px solid #cccccc; }
    th { padding: 5px; }
    td.pos, th.pos { text-align: left; width: 52%; }
    td.emp, th.emp { text-align: left; width: 30%; }
    td.sal, th.sal { text-align: right; white-space: nowrap; width: 18%; }
    thead { 
      tr th { @include background-gradient(#cccccc, #dddddd); }
      th.sorted a { color: black; }
      a { text-decoration: none; color: black; }
      a:visited { color: black; }
      a:hover { color: $hovered_link_color; } }
    tfoot tr td { @include background-gradient(#dddddd, #cccccc); }
    tbody { 
      tr.entry-header { 
        td { background: $collapsed-entry-color; }
        a { color: black; text-decoration: none; font-weight: bold; }
        span.spinner { background: green; color: white; padding: 5px; } 
      }
      tr.entry-header.x-open td {
        background-color: $expanded-entry-color;
      }      
      
      tr.entry-header { cursor: pointer; }
      tr.entry-header:hover  { 
        td { background: #ffa; }
      }
      tr.x-loading td.pos { background: #ffa image-url("spinner.gif") right center no-repeat; }
      tr.entry-details { 
        td { padding: 0; border: none; color: #666666; @include background-gradient-top($expanded-entry-color, #fff, 5); }
		h4:first-child { margin-top: 0;}
        .entry-box { padding: 10px; border: 3px solid $expanded-entry-color; }
        .entry-content { max-width: 650px; 
          ul { margin: 0.5em 0; padding: 0 0 0 20px; }
        }
        .entry-actions { float: right; margin: 10px; border-left: #ccc solid 1px; padding-left: 10px; 
          ul { padding: 0; }
          li { margin: 3px 0; list-style-type: none; }            
        }
      } 
    } 
  }
}

body#vacancies { 
  #content { margin: 0; }
  .search-result-message { margin: 5px 0; text-align: center; }

  #vacancies-filter.inline {
    #city { width: 130px; }
    #q { width: 140px; }    
    .button { width: 150px; }
  }  

  #vacancies-filter.tableish {
    #q { width: 200px; }
  }
}

body#vacancy {
  .vacancy {
    h3 { margin: 0.5em 0; }
    .description { margin: 1em 0; }
    p.contacts { margin: 1em 0 0.5em; }
    p.metainfo { font-size: 12px; color: gray; }
    ul.links { margin: 3em 0 .5em; padding-left: 0; border-top: 1px solid #aaa; padding-top: 1.5em;
      a:visited { color: $link_color; }
      li { margin: 0.25em 0; list-style-type: none; }
    }
  }
}

body#edit-vacancy #vacancy-edit-form { 
  input { width: 220px; }
  select { width: 224px; }
  textarea { width: 400px; height: 170px; } 
}
