/*
*= require common
*= require_self
*= require workers
*= require vacancies
*= require employers
*= require resumes
*/
html { height: 100%; }

body { height: 100%; min-width: 480px; margin: 0 auto; width: 980px; }

body { font: 13px "Lucida Grande", Verdana, sans-serif; behavior: javascript-url("csshover2.htc"); }

#header { padding-bottom: 5px; border-bottom: 1px solid gray; }

#page { margin-bottom: -40px; min-height: 100%; }

html.ie6 #page { height: auto !important; height: 100%; }

#footer-push { height: 40px; }

#footer { position: relative; margin-top: 10px; }

#footer { text-align: center; color: #aaaaaa; }

#footer-content { padding-top: 5px; }

#logo { font-weight: bold; font-size: x-large; float: left; margin: 0 10px; height: 30px; line-height: 30px; }
#logo a { text-decoration: none; }
#logo #logo-pro { color: red; }
#logo #logo-rabotu { font-variant: small-caps; color: black; }

#tabs { float: left; padding: 0; margin: 0; clear: right; }
#tabs li { float: left; height: 30px; line-height: 30px; margin: 0 5px; list-style-type: none; }
#tabs li.tab { border: 1px solid white; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#tabs li.tab a { padding: 5px 10px; color: black; text-decoration: none; }
#tabs li:hover { border: 1px solid #555555; background: #eeeeee; background: #eeeeee -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc)); background: #eeeeee -moz-linear-gradient(top, #eeeeee, #cccccc); }
#tabs li.selected { font-weight: bold; }
#tabs li.selected a:hover { color: black; }

#links { clear: both; height: 25px; line-height: 25px; padding: 5px 0; background: #eeeeee; background: #eeeeee -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#999999)); background: #eeeeee -moz-linear-gradient(top, #eeeeee, #999999); }
#links a { margin: 0 7px; padding: 5px; text-decoration: none; color: #333333; }
#links a:hover { color: white; background: #666666; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#links a.selected { color: black; font-weight: bold; text-decoration: none; }
#links a.selected:hover { color: white; }

#content { padding: 5px 10px; }
#content h1 { margin: 10px 0 5px; }

#flash-notice, #flash-error { padding: 8px; text-align: center; font-weight: bold; color: white; }

#flash-notice { background: green; }

#flash-error { background: red; }

#info-panel { clear: both; width: 100%; margin-top: 20px; padding: 5px; }
#info-panel pre { font-family: "CMU Typewriter Text"; font-size: 12pt; }
#info-panel p#trace-contents { text-align: center; font-size: larger; }
#info-panel h2#info-panel-show { text-align: center; }

p.central-message { text-align: center; font-size: 20px; margin: 30px 10px; color: #888; line-height: 1.5; }
