table { border-collapse: collapse; }

h1 { margin: 1em 0 0.25em; }

h2 { margin: 1em 0 0.25em; }

h3 { margin: 1em 0 0; }

h4 { margin: 1em 0 0; }

h5, h6, fieldset { margin: 0; padding: 0; border: none; }

p { margin: 0.25em 0; padding: 0; }

pre { margin: 0.25em 0; padding: 0; }

a { text-decoration: none; }

a:link { color: #0000cd; }

a:visited { color: purple; }

a:hover { color: #ee0000; text-decoration: underline; }

a.ui:visited { color: #0000cd; }

table.form-layout td { padding-bottom: 5px; }
table.form-layout th { text-align: left; vertical-align: top; padding-right: 10px; }
table.form-layout th label { font-variant: small-caps; line-height: 1.7; padding: 2px 0; margin: 2px 0; display: block; }
table.form-layout input[type=text], table.form-layout input[type=password] { width: 195px; padding: 3px; font-size: 13px; }
table.form-layout select { width: 205px; }
table.form-layout input.button, table.form-layout input[type=submit] { width: 200px; }
table.form-layout textarea { font-size: 13px; }
table.form-layout label input { width: auto; }
table.form-layout td small { color: gray; font-size: 11px; }
table.form-layout td span.required-mark { color: gray; font-size: 11px; }
table.form-layout td span.invalid + span.required-mark { color: red; }
table.form-layout td span.invalid textarea.inner-tooltip { color: red; }
* html form table.form-layout td { padding-top: 0; }
* html form table.form-layout td input.checkbox { margin-left: -3px; }
form.search table.form-layout input[type=text], form.search table.form-layout input[type=password] { width: 185px; padding: 1px; font-size: 11px; }

table.rounded { border-collapse: separate; border-spacing: 0; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
table.rounded tr:first-child th:first-child { -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; }
table.rounded tr:first-child th:last-child { -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; }
table.rounded tr:last-child td:first-child { -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; }
table.rounded tr:last-child td:last-child { -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; }
html.ie table.rounded { border-collapse: collapse !important; }

form .errors { margin: 10px 0 15px; color: #ad0000; }
form .errors h2 { margin: 5px 0; font-size: 16px; color: #ad0000; }
form .errors ul { margin: 5px 0; padding-left: 0px; list-style-position: inside; }
form .inner-tooltip { color: gray; font-style: italic; }
form .required-field { background: #ffff66; }
form div.submit { margin-top: 3px; }
form div.submit span.cancel { font-size: small; }
form span.invalid label { color: red; }
form tr.high td span.required-mark { vertical-align: top; }

form.inline { margin: 10px; text-align: center; }
form.inline fieldset { border: 1px solid silver; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 15px; display: inline; line-height: 2; }
form.inline fieldset .field { display: inline; padding-right: 10px; }
form.inline fieldset select { width: 150px; }
form.inline fieldset label { padding-right: 5px; }
form.inline fieldset input.button { width: 150px; }

form.tableish { border: 1px solid silver; margin: 10px auto; width: 380px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 15px; line-height: 2; }
form.tableish label { display: block; float: left; width: 130px; }
form.tableish label { text-align: right; padding-right: 5px; font-variant: small-caps; font-weight: bold; }
form.tableish select { width: 205px; }
form.tableish input.button { width: 205px; }

form.front { margin-top: 50px; }

.pager { margin: 1em 0; }

.pager .pagination { display: inline; }

.pagination a, .pagination a:visited { padding: 5px; color: #0000cd; }
.pagination a:hover, .pagination a:visited:hover { color: #ee0000; }
.pagination a.num:hover, .pagination a.num:visited:hover { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 4px; text-decoration: none; border: solid 1px #ee0000; }
.pagination span.dir { color: #999; }
.pagination span.stub { color: #999; cursor: default; padding: 5px 5px; }
.pagination em { font-style: normal; padding: 5px 5px; background: #ddd; cursor: default; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

div.message, p.message { text-align: center; font-weight: bold; padding: 8px; margin: 8px 0 8px; }

div.warning, p.warning { background: gold; }

.clear { clear: both; }

.centered { margin: 0 auto; }
