body#employer-vacancies #vacancies-table { position: relative; margin-bottom: 8px; }
body#employer-vacancies #vacancies-table th { padding: 3px 10px 3px 0; text-align: left; }
body#employer-vacancies #vacancies-table td { padding: 3px 10px; text-align: left; }
body#employer-vacancies #vacancies-table td.controls { padding-left: 25px; }

body#employer-signup form.new_employer { margin-top: 10px; border-top: 2px solid #666666; padding-top: 10px; }
body#employer-signup form.new_employer tr.captcha td img { padding-left: 30px; }

body#employers-login #emp-idx { width: 100%; }
body#employers-login #emp-idx #casuals, body#employers-login #emp-idx #emp-idx #pro-div { width: 50%; }
body#employers-login #emp-idx #casuals { font-size: xx-large; line-height: 1.5; border-right: silver 1px solid; }
body#employers-login #emp-idx #professionals { padding-left: 20px; }
body#employers-login #emp-idx #professionals #register-h { margin: 8px 0 0; }
body#employers-login #emp-idx #professionals #or-p { margin: 5px 0; }
body#employers-login #emp-idx #professionals #login-h { margin: 0 0 5px; }
body#employers-login #emp-idx #professionals form { margin-top: 5px; }
body#employers-login #emp-idx #professionals form th { text-align: left; }
