//= require common
//= require_self

@import "_helpers";

$collapsed-entry-color: #f3f3f3;
$expanded-entry-color: #f3f3ff;
$footer_height: 40px;

html { height: 100%; }
body { height: 100%; min-width: 480px; margin: 0 auto; width: 980px; }
body { font: 13px "Lucida Grande", Verdana, sans-serif; behavior: javascript-url("csshover2.htc"); }

#header { padding-bottom: 5px; border-bottom: 1px solid gray; }

#page { margin-bottom: -$footer_height; min-height: 100%; }
html.ie6 #page { height: auto !important; height: 100%; }

#footer-push { height: $footer_height; }

#footer { position: relative; margin-top: 10px; }
#footer { text-align: center; color: #aaaaaa; }
#footer-content { padding-top: 5px; }

#logo { font-weight: bold;  font-size: x-large;  float: left;  margin: 0 10px;  height: 30px; line-height: 30px;
  a { text-decoration: none; }
  #logo-pro { color: red; }
  #logo-rabotu { font-variant: small-caps;  color: black; } 
}

#tabs { float: left;  padding: 0;  margin: 0;  clear: right;
  li { float: left; height: 30px; line-height: 30px; margin: 0 5px; list-style-type: none; }
  li.tab { border: 1px solid white; @include rounded(5px); }
  li.tab a {  padding: 5px 10px; color: black; text-decoration: none; } 
  li:hover { border: 1px solid #555555; @include background-gradient(#eeeeee, #cccccc); }
  li.selected { font-weight: bold; }
  li.selected a:hover { color: black; } 
}

#links { clear: both; height: 25px; line-height: 25px;  padding: 5px 0; @include background-gradient(#eeeeee, #999999);
  a { margin: 0 7px; padding: 5px;  text-decoration: none; color: #333333; }
  a:hover { color: white; background: #666666; @include rounded(5px); }
  a.selected { color: black; font-weight: bold; text-decoration: none; }
  a.selected:hover { color: white; } 
}

#content { padding: 5px 10px;
  h1 {  margin: 10px 0 5px; } 
}

#flash-notice, #flash-error { padding: 8px;  text-align: center; font-weight: bold; color: white; }
#flash-notice { background: green; }
#flash-error { background: red; }

#info-panel { clear: both; width: 100%;  margin-top: 20px;  padding: 5px;
  pre { font-family: "CMU Typewriter Text"; font-size: 12pt; }
  p#trace-contents { text-align: center; font-size: larger; }
  h2#info-panel-show { text-align: center; } 
}

p.central-message { text-align: center; font-size: 20px; margin: 30px 10px; color: #888; line-height: 1.5; }


body.public {
  table.vacancies-list { width: 100%; margin: 10px 0; border: 1px solid #cccccc; @include rounded(10px); 
    span.pos { font-weight: bold; }
    span.star { display: block; width: 16px; height: 16px; float: left; padding-right: 5px; background-repeat: no-repeat; cursor: pointer; }
    span.star-disabled { background-image: image-url("star-disabled-16.gif"); }
    span.star-enabled { background-image: image-url("star-enabled-16.png"); }
    td { padding: 5px; border-top: 1px solid #cccccc; }
    th { padding: 5px; }
    td.pos, th.pos { text-align: left; width: 52%; }
    td.emp, th.emp { text-align: left; width: 30%; }
    td.sal, th.sal { text-align: right; white-space: nowrap; width: 18%; }
    thead { 
      tr th { @include background-gradient(#cccccc, #dddddd); }
      th.sorted a { color: black; }
      a { text-decoration: none; color: black; }
      a:visited { color: black; }
      a:hover { color: $hovered_link_color; } }
    tfoot tr td { @include background-gradient(#dddddd, #cccccc); }
    tbody { 
      tr.entry-header { 
        td { background: $collapsed-entry-color; }
        a { color: black; text-decoration: none; font-weight: bold; }
        span.spinner { background: green; color: white; padding: 5px; } 
      }
      tr.entry-header.x-open td {
        background-color: $expanded-entry-color;
      }      
      
      tr.entry-header { cursor: pointer; }
      tr.entry-header:hover  { 
        td { background: #ffa; }
      }
      tr.x-loading td.pos { background: #ffa image-url("spinner.gif") right center no-repeat; }
      tr.entry-details { 
        td { padding: 0; border: none; color: #666666; @include background-gradient-top($expanded-entry-color, #fff, 5); }
		h4:first-child { margin-top: 0;}
        .entry-box { padding: 10px; border: 3px solid $expanded-entry-color; }
        .entry-content { max-width: 650px; 
          ul { margin: 0.5em 0; padding: 0 0 0 20px; }
        }
        .entry-actions { float: right; margin: 10px; border-left: #ccc solid 1px; padding-left: 10px; 
          ul { padding: 0; }
          li { margin: 3px 0; list-style-type: none; }            
        }
      } 
    } 
  }
}

body#vacancies { 
  #content { margin: 0; }
  .search-result-message { margin: 5px 0; text-align: center; }

  #vacancies-filter.inline {
    #city { width: 130px; }
    #q { width: 140px; }    
    .button { width: 150px; }
  }  

  #vacancies-filter.tableish {
    #q { width: 200px; }
  }
}

body#vacancy {
  .vacancy {
    h3 { margin: 0.5em 0; }
    .description { margin: 1em 0; }
    p.contacts { margin: 1em 0 0.5em; }
    p.metainfo { font-size: 12px; color: gray; }
    ul.links { margin: 3em 0 .5em; padding-left: 0; border-top: 1px solid #aaa; padding-top: 1.5em;
      a:visited { color: $link_color; }
      li { margin: 0.25em 0; list-style-type: none; }
    }
  }
}

body#edit-vacancy #vacancy-edit-form { 
  input { width: 220px; }
  select { width: 224px; }
  textarea { width: 400px; height: 170px; } 
  .captcha {
    img {  }
  }
}
